.App {
  text-align: center;
  color: #181616;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  height: 100vh;
  flex-shrink: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.list {
  background-color: white;
}

.new {
  background-color: white;
}

body {
  background-color: #bfd8ef;
  height: 100vh;
}

#ccbox {
  background-image: linear-gradient(to right, #FA002D, #0A2769);
  width: 1.5em;
  height: 1.5em;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: .25em;
}

#cc {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24.3343px;
  line-height: 37px;

  color: #FFFFFF;

  transform: rotate(20.2deg);
}