.inputbox, .list {
    display: flex;
    line-height: 15px;
    font-size: 15px;
    padding: 2px 5px;
    background-color: white;
    width: 96vw;
    margin: 20px 0 0 0;
    border-radius: 10px;
}

.list {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.inputbox {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.inputs {
    display: flex;
    width: 96vw;
    justify-content: space-between;
}

.inputs div {
    flex-grow: 2;
}

input, select {
    margin: 5px;
    border-radius: 18px;
    border-color: #D9DDE4;
    padding: 12px;
    border-width: 1px;
    border-style: solid;
    width: 85%;
}

.inputheader {
    margin: 15px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
}

main {
    background-color: #EEE7E7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

li {
    display: grid;
    grid-template-columns: 3.5% 5% 20% 6% 6% 7% 8% 5% 8% 10% 8% 6% 5.5%;
    width: 100%;
    align-items: stretch;

}

li div {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    justify-content: flex-start;
    display: flex;
    padding: 0 0 0 5px;
}

.cardlist li div {
    padding: 0 0 0 7px;
}

.listheaders {

    padding: 7px;
    margin: 0 !important;
}

.listtitle {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
}

.listtitle div {
    padding: 15px;
}

.listheader {
    background-color: #EEF1F6;
    border-radius: 7px;
    margin: 5px 0 0 0;
    width: calc(96vw - 7px);
    padding-inline-start: 5px;
    align-self: flex-start;
}

*::-webkit-scrollbar {
    width: 0px;
}

.cardlist {
    margin: 0;
    overflow-y: scroll;
    height: calc(100vh - 350px);
    min-height: 100px;
    width: calc(96vw - 7px);
    padding-inline-start: 15px;
    align-self: center;
}

.cardlist li{
    margin: 5px 0 0 0;
    border-bottom: 1px solid #D9DDE4;
}

.cardlist li input {
    margin: 0px;
    border-radius: 5px;
    border-color: #D9DDE4;
    padding: 3px;
    border-width: 1px;
    border-style: solid;
    width: 85%;
}

.cardlist li div{
    margin: 7px 0;
}

.gradbutton {
    background-image: linear-gradient(to right, #FA002D, #0A2769);
    border: none;
    border-radius: 18px;
    height: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    margin: 4px;
    padding: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.searchbutton {
    flex-grow: 0 !important;
}

.yesbutton {
    background-color: transparent !important;
    background-image: none;
    color: #191A1E;
    border: 1px solid #D9DDE4;
}

.backbutton {
    background-color: white !important;
    background-image: none;
    color: #191A1E;
    border: 1px solid #D9DDE4;
    margin: 10px 15px;
    padding: 8px 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.alignleft {
    align-self: flex-start;
}

.nounderline {
    text-decoration: none;
}

.listicon {
    border: none;
    background-color: transparent;
    align-self: flex-start;
    width: 4.5em;
    display: flex;
    justify-content: center;
}

.editicon {
    width: 3em !important;
}

.majorbox {
    width: 12px !important;
    margin: 0 0 0 15px !important;
}

.deletedialog {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200%;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

.deleteimage {
    max-width: 200px;
    min-width: 200px;
    margin: 25px 150px;
}

.deletebuttons {
    display: flex;
}

.deletetitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

.deletetext {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin: 10px 50px;
    color: #191A1E;
}

.imagestitle {
    display: flex;
    justify-content: space-between;
    width: 100%;    
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

.imagescontainer {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.piccontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.piccontainer img {
    margin: 3px 0;
    width: 100%;
}

.deleteimagebutton {
    margin: 20px 0;
}

.piccontainer div {
    width: 250px;
    height: 348px;
    text-align: center;
    line-height: 348px;
}

.piccontainer div div {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
}

.piccontainer input::file-selector-button {
    background-image: linear-gradient(to right, #FA002D, #0A2769);
    border: none;
    border-radius: 18px;
    height: 10px;
    line-height: .15em;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    margin: 4px;
    padding: 15px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.piccontainer input[type='file'] {
    color: transparent;
    width: 45%;
    border: none;
}

.newcardcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 15px;
    padding: 23px;
    background-color: white;
    border-radius: 8px;
}

.newcardinputs {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    align-self: flex-start;
    margin: 0;
    border-right: 1px solid #D9DDE4;
}

.newcardinputs div {
    width: calc(50% - 10px);
    margin: 0 5px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.newcardinputs div input {
    margin: 0 5px 5px 5px;
}

.newcardinputs div select {
    margin: 0 5px 5px 5px;
    width: calc(85% + 26px);
}

.newcardinputs div span {
    margin: 0 8px;
}

.newmajorcard {
    width: 100% !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 15px !important;
}

.newmajorcard input {
    width: 1em;
}

.newcardimages {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 39%;
    align-self: flex-start;
}

.newcardtitle {
    width: 100%;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 26px;
    margin: 0 0 15px 0;
}

.priceinput {
    padding-left: 20px !important;
    width: calc(85% - 8px) !important;
}

.dollarsign:before {
    position: absolute;
    transform: translate(-3.5em, 2.45em);
    content:"$";
    color: black;
}

.imageinput {
    color: transparent;
    border: none;
    padding: 0;
    width: 95%;
    margin: 2% 4% 2% 4%;
    border: 1px solid #D9DDE4;
    border-radius: 10px;
    background-color: #F8FAFD;
    height: 12em;
    flex-shrink: 0;
    opacity: 0%;
    z-index: 5;
    grid-area: 1 / 1 / 2 / 2;
}

.dropzone {
    color: transparent;
    border: none;
    padding: 0;
    width: 95%;
    margin: 2% 4% 2% 4%;
    border: 1px solid #D9DDE4;
    border-radius: 10px;
    background-color: #F8FAFD;
    height: 12em;
    flex-shrink: 0;
    z-index: 3;
    grid-area: 1 / 1 / 2 / 2;
}

.imageinput::file-selector-button {
    visibility: hidden;
}


.dropzonecontainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
}

.cardimage {
    height: 11.5em;
    grid-area: 1 / 1 / 2 / 2;
    z-index: 4;
}

.signage {
    height: 10em;
    grid-area: 1 / 1 / 2 / 2;
    z-index: 4;
}