.inputs {
    display: flex;
    line-height: 15px;
    font-size: 15px;
    align-items: center;
    padding: 5px;
    background-color: white;
}

input {
    margin: 5px;
}

main {
    background-color: white;
    border: 1px solid black;
}

li {
    display: grid;
    grid-template-columns: 3.5% 5% 20% 6% 6% 7% 8% 5% 8% 10% 8% 8% 5.5%;
    width: 98%;
    min-width: 1200px;
    align-items: stretch;
}

li div {
    border: 1px solid black;
}

.listheader {
    margin: 10px 0 0 0;
    overflow-y: scroll;
}

.listheader::-webkit-scrollbar {
    width: 17px;
}

.listheader::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }

.cardlist {
    margin: 0;
    overflow-y: scroll;
    height: calc(100vh - 225px);
    min-height: 100px;
}

ul {
    overflow-x: hidden;
}

.MuiCollapse-root {
    grid-column: 1 / 15;
}

